#editor { 
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-box-shadow: 1px -3px 51px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -3px 51px -9px rgba(0,0,0,0.75);
    box-shadow: 1px -3px 51px -9px rgba(0,0,0,0.75);
}

.navbar-inverse.navbar .dropdown-menu li>a:hover {
    color: #3f51b5!important;
}
.navbar {
    -webkit-box-shadow: 1px -3px 51px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -3px 51px -9px rgba(0,0,0,0.75);
    box-shadow: 1px -3px 51px -9px rgba(0,0,0,0.75);
    z-index: 3
}

.badge {
   /* color: #3f51b5!important;*/
   color: #f44336!important;
    background-color: white!important; 
}

#consoletabs {
    background-color: #3f51b5;
}

.changelogContent {
    color: rgba(0, 0, 0, 0.7)
}

.versionNum {
    color: #3f51b5;
    float: left;
}

::backdrop {
    background: rgba(0, 0, 0, 0.75);
    -webkit-animation: none;
    animation: none;
}

dialog {
    border: 0;
    border-radius: 1.5px;
    box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    min-width: 300px;
    max-width: 50%;
    max-height: 75%;
    overflow: auto;
}


dialog[open] {
    -webkit-animation: show-dialog 0.25s ease normal;
    animation-duration: 0.25s;
    animation-name: show-dialog;
}

.dialog.hide {
    -webkit-animation: hide-dialog 0.25s ease normal;
    animation-duration: 0.25s;
    animation-name: hide-dialog;
}

.dialog[open]::backdrop {
    -webkit-animation: show-backdrop 0.125s ease 0.05s normal;
    animation-duration: 0.125s;
    animation-name: show-backdrop;
}

.dialog.hide::backdrop {
    -webkit-animation: hide-backdrop 0.125s ease 0.05s normal;
    animation-duration: 0.125s;
    animation-name: hide-backdrop;
}

@-webkit-keyframes show-dialog {
    from {
        opacity: 0;
        transform: translateY(-100%);
        transform: scale(0.5,0.5);
    } to {
        opacity: 1;
        transform: translateY(0%);
        transform: scale(1,1);
    }
}
@-webkit-keyframes hide-dialog{
    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: scale(0,0);
    }
}

@-webkit-keyframes show-backdrop {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-webkit-keyframes hide-backdrop{
    to {
        opacity: 0;
    }
}

@keyframes show-dialog {
    from {
        opacity: 0;
        transform: translateY(-100%);
        transform: scale(0.5,0.5);
    } to {
        opacity: 1;
        transform: translateY(0%);
        transform: scale(1,1);
    }
}

@keyframes hide-dialog{
    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: scale(0,0);
    }
}

@keyframes show-backdrop {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes hide-backdrop{
    to {
        opacity: 0;
    }
}